<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224143201726-ukpd8qpu0vm9bg1obghgrki0d7ud99e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224143201726-ukpd8qpu0vm9bg1obghgrki0d7ud99e8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224143201726-vpabrsj9ofj2d4qacd1l66fptdo7baa0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5NdZ0ZGiGqktGcJVyg-61Uw5GYYSIhCw</string>
	<key>GCM_SENDER_ID</key>
	<string>224143201726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kweeble.app</string>
	<key>PROJECT_ID</key>
	<string>kweeble-app-a7ac2</string>
	<key>STORAGE_BUCKET</key>
	<string>kweeble-app-a7ac2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224143201726:ios:d213557e69576a3833d5ef</string>
</dict>
</plist>